

/* ==========================================================================
custom styles
========================================================================== */

* {
  outline: none;
}

html,
body {
  height: 100%;
}

body{
  position: relative;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #ECE5CE;
  transition: background-color .5s ease;
}

body.won { background-color: #8FBE00; }
body.lost { background-color: #E22D2D; }

h1 {
  display: inline-block;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.9em;
}
span {
  padding: 12px;
  margin: -6px;
}
.M {
  background: #FFB400;
}
.A{
  background: #FF5A5F;
}
.S{
  background: #8CE071;
}
.T{
  background: #00D1C1;
}
.E{
  background: #007A87;
}
.R{
  background: #7B0051;
}
.secondName {
  color: black;
  margin-left: -10px;
}
.wrapper {
  display: block;
  width: 810px;
  margin: 0 auto;
}

header {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

hr {
  border-top: 2px dotted #fff;
}

.container {
  width: 400px;
  margin: 0 auto;
  position: relative;
}

.textual {
  width: 400px;
  display: inline-block;
  vertical-align: top;
}

.option,
.socket {
  display: inline-block;
  border-radius: 50%;
  background-color: #E3DCB5;
}

#guesses {
  display: inline-block;
  /*background-color: #E3DCB5;*/
  border-radius: 3px 0 0 3px;
  padding: 15px 30px;
  font-size: 0;
}

.guess { margin-top: 15px; }

.option,
.code .socket,
.guess .socket {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.code .socket + .socket,
.guess .socket + .socket { margin-left: 10px; }

.code {
  border-bottom: 2px solid #E3DCB5;
  padding-bottom: 15px;
}

.secret {
  /*color: #e3dcb5;*/
  text-align: center;
  line-height: 40px;
  font-weight: 800;
  font-size: 16px;
}

.socket.peg {
  -webkit-animation: bounceIn .4s;
  -o-animation: bounceIn .4s;
  animation: bounceIn .4s;
}



/******************* HINTS *******************/

#hints {
  vertical-align: bottom;
  display: inline-block;
  padding: 15px 20px;
  /*background-color: #E3DCB5;*/
  border-radius: 0 3px 3px 0;
  font-size: 0;
}

.hint {
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.hint .row { height: 10px; }
.hint .row + .row { margin-top: 5px; }

.hint .socket {
  width: 10px;
  height: 10px;
}

.hint .socket + .socket { margin-left: 5px; }

.hint + .hint { margin-top: 15px; }
.hit { background-color: #000; }
.almost { background-color: #fff; }

#instructions-paragraph {
  display: none;
}

#modalMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  /*min-width: 320px;*/
  height: auto;
  z-index: 2000;
  opacity: 1;
  border-radius: 2px;
  padding: 15px 20px;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#modalOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  transition: all .3s ease;
}

#modalOverlay.hidden {
  visibility: hidden;
}

#modalOverlay.won {
  background-color: rgba(143, 190, 0, .5);
  visibility: visible;
  opacity: 1;
}

#modalOverlay.won #modalMessage {
  background-color: #8FBE00;
  border: 5px solid #fff;
}

#modalOverlay.lost {
  background-color: rgba(226, 45, 45, .5);
  visibility: visible;
  opacity: 1;
}

#modalOverlay.lost #modalMessage {
  background-color: #E22D2D;
  border: 5px solid #fff;
}

#options {
  margin: 0 auto;
  padding: 20px 0;
  display: block;
  text-align: center;
  font-size: 0;
}

#options button + button {
  margin-left: 10px;
}

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.option {
  margin-right: .5em;
  -moz-transition: all .1s ease;
}

.option:hover {
  -moz-transform: scale(1.1);
  -moz-transform-origin: center;
}

button {
  border: none;
  border-radius: 3px;
  font-size: 1em;
  font-weight: 800;
  padding: 5px 10px;
  color: #333;
  background-color: #fff;
  vertical-align: middle;
}

button.large {
  padding: 15px 20px;
}

button.primary {
  color: #8FBE00;
}

#delete {
  font-size: 21px;
  background-color: #EAEBE9;
}

#instructions {
  /*display: none;*/
  width: 400px;
  vertical-align: top;
  color: black;
  margin: 0 auto;
}

/************* Colors *************/

.green { background: #8FBE00; }
.green-btn {background: #8FBE00; margin-top:-20px}
.red { background: #E22D2D; }
.blue { background: #008C9E; }
.yellow { background: #F8CA00; }
.black { background: #191919; }
.purple { background: #993394; }
.brown { background: #6b4d39; }
.white { background: #fff; }


footer {
  text-align: center;
}

footer small {
  font-size: .7em;
}

footer a {
  color: inherit;
}

@media (max-width: 768px) {
  .wrapper,
  .container {
    width: 100%;
    box-sizing: border-box;
  }
  #guesses,
  #hints {
    margin-bottom: 50px;
  }
  #instructions {
    /*display: none;*/
  }
  #options {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #ece5ce;
  }
  #options button {
    width: 10%;
    height: 0;
    padding-bottom: 10%;
  }
  .option {
    margin-right: 0;
  }
}
